Repository usany/usany.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format:file

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "npm run format:file"],
  "*.{json,md,mdx,css,scss,html,yml,yaml}": "npm run format:file"
}

cern
  src/App.tsx
Due: npm run lint:fix, npm run format:file

cern
  .github/workflows/add-issue-to-triage-board.yml
  .github/workflows/check-dist.yml
  .github/workflows/check-markdown.yml
  .github/workflows/example-basic-pnpm.yml
  .github/workflows/example-basic.yml
  .github/workflows/example-build-artifacts.yml
  .github/workflows/example-chrome-for-testing.yml
  .github/workflows/example-chrome.yml
  .github/workflows/example-component-test.yml
  .github/workflows/example-config.yml
  .github/workflows/example-cron.yml
  .github/workflows/example-custom-ci-build-id.yml
  .github/workflows/example-custom-command.yml
  .github/workflows/example-debug.yml
  .github/workflows/example-docker.yml
  .github/workflows/example-edge.yml
  .github/workflows/example-env.yml
  .github/workflows/example-firefox.yml
  .github/workflows/example-install-command.yml
  .github/workflows/example-install-only.yml
  .github/workflows/example-node-versions.yml
  .github/workflows/example-quiet.yml
  .github/workflows/example-recording.yml
  .github/workflows/example-start-and-pnpm-workspaces.yml
  .github/workflows/example-start-and-yarn-workspaces.yml
  .github/workflows/example-start.yml
  .github/workflows/example-wait-on.yml
  .github/workflows/example-webpack.yml
  .github/workflows/example-yarn-classic.yml
  .github/workflows/example-yarn-modern-pnp.yml
  .github/workflows/example-yarn-modern.yml
  .github/workflows/triage_closed_issue_comment.yml
  .vscode/extensions.json
Due: npm run format:file

cern
  package-lock.json
  package.json
Due: npm run format:file

cern
  biome.json
Due: npm run format:file

cern
  .lintstagedrc
  .lintstagedrc copy
  package.json
  src/pages/main/menu/Menu.tsx
Due: npm run lint:fix, npm run format:file

cern
  .lintstagedrc copy
Due: none

cern
  .github/workflows/playwright.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .vscode/extensions.json
  components.json
  eslint.config.js
  index.html
  manifest.json
  package-lock.json
  package.json
  playwright.config.ts
  postcss.config.js
  public/firebase-messaging-sw.js
  src/assets/Animation.json
  src/assets/Animations.json
  src/store.tsx
  tests-examples/demo-todo-app.spec.ts
  tests/example.spec.ts
Due: npm run lint:fix, npm run format:file

cern
  tests/example.spec.ts
Due: npm run lint:fix, npm run format:file

cern
  e2e/example.spec.ts
  package-lock.json
  package.json
  tests-examples/demo-todo-app.spec.ts
  tests/example.spec.ts
Due: npm run lint:fix, npm run format:file

cern
  tests-examples/demo-todo-app.spec.ts
Due: npm run lint:fix, npm run format:file

cern
  sh.exe.stackdump
  src/pages/main/menu/Button.stories.tsx
  src/pages/main/menu/Button.tsx
Due: npm run lint:fix, npm run format:file

cern
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  package.json
  src/pages/main/menu/Buttons.stories.ts
  src/pages/main/menu/Buttons.tsx
  vitest.shims.d.ts
Due: npm run lint:fix, npm run format:file

cern
  .storybook/preview.ts
Due: npm run lint:fix, npm run format:file

cern
  .lintstagedrc
Due: none

cern
  package-lock.json
Due: npm run format:file

cern
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Steppers.stories.tsx
  src/stories/assets/accessibility.svg
  src/stories/assets/discord.svg
  src/stories/assets/github.svg
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: npm run lint:fix, npm run format:file

cern
  .storybook/preview.ts
  src/pages/add/Add.tsx
  src/pages/add/AddRegisterButton.tsx
  src/pages/main/menu/Button.stories.tsx
  src/pages/main/menu/Button.tsx
  src/pages/main/menu/Buttons.stories.ts
  src/pages/main/menu/Buttons.tsx
  src/stories copy/Button.stories.ts
  src/stories copy/Button.tsx
  src/stories copy/Configure.mdx
  src/stories copy/Header.stories.ts
  src/stories copy/Header.tsx
  src/stories copy/Page.stories.ts
  src/stories copy/Page.tsx
  src/stories copy/Steppers.stories.tsx
  src/stories copy/Steppers.tsx
  src/stories copy/assets/accessibility.png
  src/stories copy/assets/accessibility.svg
  src/stories copy/assets/addon-library.png
  src/stories copy/assets/assets.png
  src/stories copy/assets/avif-test-image.avif
  src/stories copy/assets/context.png
  src/stories copy/assets/discord.svg
  src/stories copy/assets/docs.png
  src/stories copy/assets/figma-plugin.png
  src/stories copy/assets/github.svg
  src/stories copy/assets/share.png
  src/stories copy/assets/styling.png
  src/stories copy/assets/testing.png
  src/stories copy/assets/theming.png
  src/stories copy/assets/tutorials.svg
  src/stories copy/assets/youtube.svg
  src/stories copy/button.css
  src/stories copy/header.css
  src/stories copy/page.css
  src/stories/Button.tsx
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Chip.stories.ts
  src/stories/Chip.tsx
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Chip.stories.ts
Due: npm run lint:fix, npm run format:file

cern
  .gitignore
  .storybook/main.ts
  package-lock.json
  src/stories copy/Button.stories.ts
  src/stories copy/Button.tsx
  src/stories copy/Header.stories.ts
  src/stories copy/Header.tsx
  src/stories copy/Page.stories.ts
  src/stories copy/Page.tsx
  src/stories copy/Steppers.stories.tsx
  src/stories copy/Steppers.tsx
  src/stories copy/assets/accessibility.png
  src/stories copy/assets/accessibility.svg
  src/stories copy/assets/addon-library.png
  src/stories copy/assets/assets.png
  src/stories copy/assets/avif-test-image.avif
  src/stories copy/assets/context.png
  src/stories copy/assets/discord.svg
  src/stories copy/assets/docs.png
  src/stories copy/assets/figma-plugin.png
  src/stories copy/assets/github.svg
  src/stories copy/assets/share.png
  src/stories copy/assets/styling.png
  src/stories copy/assets/testing.png
  src/stories copy/assets/theming.png
  src/stories copy/assets/tutorials.svg
  src/stories copy/assets/youtube.svg
  src/stories copy/button.css
  src/stories copy/header.css
  src/stories copy/page.css
  src/stories/Chip.stories.ts
  src/stories/Chip.tsx
Due: npm run lint:fix, npm run format:file

cern
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/Button.tsx
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Chip.stories.ts
  src/stories/Chip.tsx
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Chip.tsx
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Chip.stories.ts
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Button.stories.ts
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Button.tsx
Due: npm run lint:fix, npm run format:file

cern
  src/stories/Card.tsx
  src/stories/Chip.stories.ts
  src/stories/Chip.tsx
Due: npm run lint:fix, npm run format:file
