Repository usany/usany.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format:file

cern
  src/pages/piazza/piazzaScreen/PiazzaScreenView.tsx
Due: npm run lint:fix, npm run format:file

cern
  public/100.png
  public/1024.png
  public/114.png
  public/120.png
  public/128.png
  public/144.png
  public/152.png
  public/16.png
  public/167.png
  public/180.png
  public/192.png
  public/20.png
  public/256.png
  public/29.png
  public/32.png
  public/40.png
  public/50.png
  public/512.png
  public/57.png
  public/58.png
  public/60.png
  public/64.png
  public/72.png
  public/76.png
  public/80.png
  public/87.png
  pwa-assets.config.ts
  src/pages/piazza/piazzaScreen/PiazzaScreenView.tsx
Due: npm run lint:fix, npm run format:file

cern
  pwa-assets.config.ts
Due: npm run lint:fix, npm run format:file

cern
  index.html
  manifest.json
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/pwa-maskable-192x192.png
  public/pwa-maskable-512x512.png
  public/site.webmanifest
  vite.config.ts
Due: npm run lint:fix, npm run format:file

cern
  vite.config.ts
Due: npm run lint:fix, npm run format:file

cern
  sh.exe.stackdump
Due: none

cern
  src/pages/piazza/Piazza.tsx
Due: npm run lint:fix, npm run format:file

cern
  index.html
Due: npm run format:file

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run format:file: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,html,yml,yaml})
