Repository usany/usany.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run biome, npm run format:file

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run biome"],
  "*.{json,md,mdx,css,scss,html,yml,yaml}": "npm run format:file"
}

cern
  src/buttons/ConfirmReturnButton.tsx
Due: npm run biome

cern
  src/buttons/ConfirmReturnButton.tsx
  src/texts.json
Due: npm run biome, npm run format:file

cern
  src/texts.json
Due: npm run format:file

cern
  src/pages/core/getMemberData.ts
Due: npm run biome

cern
  src/buttons/Buttons.tsx
Due: npm run biome

cern
  src/pages/core/specifics/SpecificsButtons.tsx
Due: npm run biome

cern
  src/buttons/StopSupportButton.tsx
  src/pages/core/morphingDialogs/useConnectedUser.ts
Due: npm run biome

cern
  src/buttons/StopSupportButton.tsx
Due: npm run biome

cern
  src/buttons/StopSupportButton.tsx
  src/texts.json
Due: npm run biome, npm run format:file

cern
  src/pages/core/card/Cards.tsx
  src/pages/core/morphingDialogs/MorphingDialogs.tsx
Due: npm run biome

cern
  src/pages/core/morphingDialogs/MorphingDialogs.tsx
Due: npm run biome

cern
  src/pages/core/card/Cards.tsx
Due: npm run biome

cern
  src/pages/core/card/CardsViews.tsx
  src/pages/core/morphingDialogs/MorphingDialogs.tsx
Due: npm run biome
