Repository usany/usany.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run biome, npm run format:file

cern
  src/pages/core/specifics/SpecificsDefault.tsx
Due: npm run biome

cern
  src/pages/core/morphingDialogs/MorphingDialogs.tsx
Due: npm run biome

cern
  src/global.css
  src/pages/core/morphingDialogs/MorphingDialogs.tsx
Due: npm run biome, npm run format:file

cern
  src/assets/help_FILL0_wght400_GRAD0_opsz24.png:Zone.Identifier
  src/global.css
Due: npm run format:file

cern
  src/assets/help_FILL0_wght400_GRAD0_opsz24.pngZone.Identifier
Due: none

cern
  src/global.css
  src/pages/core/morphingDialogs/MorphingDialogs.tsx
  src/pages/core/specifics/SpecificsDefault.tsx
  src/pages/core/specifics/buttons/ConfirmReturnButton.tsx
  src/pages/core/specifics/buttons/ReturningButton.tsx
  src/pages/core/specifics/buttons/StopSupportButton.tsx
Due: npm run biome, npm run format:file

cern
  src/pages/piazza/piazzaForm/PiazzaForm.tsx
Due: npm run biome

cern
  src/pages/core/specifics/Specifics.tsx
  src/pages/core/specifics/SpecificsButtons.tsx
  src/pages/core/specifics/SpecificsDefault.tsx
Due: npm run biome

cern
  src/pages/core/specifics/Specifics.tsx
Due: npm run biome

cern
  src/pages/core/morphingDialogs/MorphingDialogs.tsx
  src/pages/core/morphingDialogs/Morphings.tsx
Due: npm run biome

cern
  src/pages/piazza/piazzaScreen/piazzaDialogs/PiazzaDialogsContent.tsx
Due: npm run biome

cern
  src/pages/piazza/piazzaScreen/piazzaDialogs/PiazzaDialogsContent.tsx
  src/texts.json
Due: npm run biome, npm run format:file

Path conditions:
  npm run biome: any of: *.{js,jsx,ts,tsx}
  npm run format:file: any of: *.{json,md,mdx,css,scss,html,yml,yaml}
