Repository usany/usany.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run biome, npm run format:file

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run biome"],
  "*.{json,md,mdx,css,scss,html,yml,yaml}": "npm run format:file"
}

cern
  src/pages/core/specifics/SpecificsTrades.tsx
Due: npm run biome

cern
  src/pages/core/specifics/SpecificsTradeTrigger.tsx
  src/pages/core/specifics/SpecificsTrades.tsx
Due: npm run biome

Delete CNAME
  CNAME
Due: none

cern
  src/pages/core/specifics/SpecificsTradeTrigger.tsx
Due: npm run biome

cern
  src/pages/core/specifics/Specifics.tsx
Due: npm run biome

cern
  src/assets/signApple.png
  src/pages/main/auth/AuthButtons.tsx
Due: npm run biome

cern
  src/pages/main/auth/AuthButtons.tsx
Due: npm run biome

cern
  src/assets/staticGoogle.png
  src/assets/staticMicrosoft.png
  src/pages/main/auth/AuthButtons.tsx
Due: npm run biome

cern
  src/assets/help_FILL0_wght400_GRAD0_opsz24.png:Zone.Identifier
Due: none

cern
  src/pages/main/auth/Auth.tsx
  src/pages/main/auth/AuthDialogsContent.tsx
Due: npm run biome

cern
  src/assets/fonts/OTF/MaruBuri-Bold.otf
  src/assets/fonts/OTF/MaruBuri-ExtraLight.otf
  src/assets/fonts/OTF/MaruBuri-Regular.otf
  src/assets/fonts/OTF/MaruBuri-SemiBold.otf
  src/assets/static_cw.jpg
  src/pages/core/navigationTop/sideNavigation/Navigation.tsx
Due: npm run biome

cern
  src/pages/contact/components/index.ts
  vite.config.ts
Due: npm run biome

cern
  vite.config.ts
Due: npm run biome

Updates
  assets/Collection-TLiReCzc.js
  assets/Collection-dfnweot9.js
  assets/Contact-CjGJWjkG.js
  assets/Contact-D36s4epy.js
  assets/Ranking-DB7DKIcz.js
  assets/RankingListsTitle-mw7699Vk.js
  assets/Search-B9-PdvCy.js
  assets/blue01-Do--JCdT.png
  assets/browser-6Ms_wQpG.js
  assets/index-B5w7tJ0H.js
  assets/index-BRqkL7v_.js
  assets/index-Bcjrr2EG.css
  assets/index-DdbSaFut.css
  assets/static_cw-DARur1qJ.jpg
  assets/static_cw-DW5JKljr.jpg
  firebase-messaging-sw.js
  index.html
  manifest.webmanifest
  sw.js
  workbox-7cfec069.js
  workbox-e3490c72.js
Due: npm run biome, npm run format:file

cern
  src/pages/core/Playlist.tsx
  src/pages/core/navigationTop/sideNavigation/Navigation.tsx
  src/pages/main/auth/AuthDialogsContent.tsx
Due: npm run biome

cern
  src/pages/main/auth/AuthPassword.tsx
Due: npm run biome

cern
  src/pages/main/auth/Auth.tsx
Due: npm run biome

cern
  src/pages/core/specifics/SpecificsRear.tsx
  src/pages/piazza/piazzaScreen/PiazzaScreenView.tsx
Due: npm run biome

cern
  src/pages/core/chatting/useSortedChattings.ts
  src/pages/piazza/piazzaScreen/PiazzaScreenView.tsx
Due: npm run biome

cern
  src/pages/core/chatting/MessageStacks.tsx
Due: npm run biome

cern
  src/pages/core/specifics/SpecificsRear.tsx
Due: npm run biome

cern
  src/pages/core/FormatClock.tsx
  src/pages/core/specifics/SpecificsRear.tsx
Due: npm run biome

cern
  src/texts.json
Due: npm run format:file

cern
  src/pages/core/specifics/SpecificsRear.tsx
  src/texts.json
Due: npm run biome, npm run format:file
